/* Base sheet */
.horizonless :is(.sheet-header, .character-header) {
  align-items: flex-start;
  display: flex;
  flex: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: visible;
  margin-bottom: 10px;
}

.horizonless :is(.sheet-header .profile-img, .character-header .character-portrait) {
  flex: 0 0 140px;
  width: 140px;
  height: 140px;
  margin-right: 12px;
  object-fit: cover;
}

.horizonless :is(.sheet-header .header-fields, .character-header .character-header-details) {
  flex: 1;
}

.horizonless :is(.sheet-header h1.charname, .character-header h1.character-name) {
  height: 50px;
  margin: 5px 0;
  padding: 0;
  border-bottom: 0;
}

.horizonless :is(.sheet-header h1.charname input, .character-header h1.character-name input) {
  width: 100%;
  height: 100%;
  margin: 0;
}

.horizonless .sheet-tabs {
  flex: 0 0 auto;
  min-width: min-content;
}

.horizonless .sheet-body {
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

.horizonless .character {
  min-width: 712px;
}

.horizonless :is(.sheet-body, .sheet-body .tab, .sheet-body .tab .editor) {
  height: 100%;
}

.horizonless .sheet-body .tab {
  display: none;
  min-height: 0;
  overflow-y: auto;
}

.horizonless .sheet-body .tab.active {
  display: block;
}

.horizonless .sheet-body .tab.active.flexcol {
  display: flex;
  flex: 1 1 auto;
}

.horizonless .tox .tox-editor-container {
  background: white;
}

.horizonless .tox .tox-edit-area,
.horizonless .item-formula {
  padding: 0 8px;
}

.horizonless :is(.resource-label, .stat-label),
.horizonless .tabs .item,
.horizonless :is(.ability-table, .abilities-table) thead th,
.horizonless :is(.items-header, .items-list .items-header),
.horizonless .items-header .item-name {
  font-weight: 700;
}

.horizonless .tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  border-top: 1px solid var(--hz-color-foundry-border-light);
  border-bottom: 1px solid var(--hz-color-foundry-border-medium);
}

.horizonless .tabs .item {
  flex: 0 0 auto;
  padding: 0 3px;
  line-height: 30px;
  white-space: nowrap;
}

.horizonless .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

