<span class="horizonless-damage-apply-content">
  <span>Damage Applied</span>
  <span
    role="button"
    tabindex="0"
    class="horizonless-undo-damage"
    title="Undo damage"
    aria-label="Undo damage"
  >
    <i class="fas fa-undo"></i>
  </span>
</span>
