<div class="horizonless-chat-card horizonless-item-chat horizonless-chat-card--alert">
  <div class="horizonless-chat-card-title">{{creatureName}}</div>
  <div class="horizonless-chat-card-body">has burned a resolve!</div>
</div>
