{{#if wrapInChatCard}}
<div class="horizonless-chat-card horizonless-item-chat">
{{/if}}
{{{flavorHtml}}}
{{#if hasHeighteningNote}}
<hr>
{{{heighteningNoteHtml}}}
{{/if}}
{{#if wrapInChatCard}}
</div>
{{/if}}
