<div class="horizonless-chat-card horizonless-item-chat">
  <div class="horizonless-chat-card-title">{{label}}</div>
  <div class="horizonless-chat-card-actions">
    {{{applyDamageButtonHtml}}}
  </div>
</div>
