<div class="horizonless-weapon-action">
  <button
    type="button"
    class="horizonless-roll-weapon-damage"
    data-actor-uuid="{{actorUuid}}"
    data-item-uuid="{{itemUuid}}"
    data-formula="{{damageFormula}}"
    data-item-name="{{itemName}}"
  >
    Roll Damage
  </button>
</div>
