/* Global */
.window-app,
.horizonless .item-form {
  font-family: "Roboto", sans-serif;
}

.rollable:is(:hover, :focus) {
  cursor: pointer;
  color: black;
  text-shadow: 0 0 10px var(--hz-color-window-title-shadow);
}
