{{#if hasContent}}
<hr>
{{#if flavor}}
<div class="horizonless-manuever-flavor"><em>{{flavor}}</em></div>
{{/if}}
{{#if hasRequirements}}
<hr>
{{#each requirements}}
<div><strong>{{this}}</strong> requirement met for {{../manueverName}}.</div>
{{/each}}
{{/if}}
{{/if}}
